<!DOCTYPE html>
<style>
    #login {
        position: absolute;
        right: 10%;
    }

    #register {
        position: absolute;
        right: 20%;
    }

    #User {
        position: absolute;
        right: 20%;
        top: 30%;
        color: deepskyblue;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kompiuterija", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pagrindinis", "Index", "Home")</li>
                    <li>@Html.ActionLink("Apie mus", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontaktai", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Prekės", "Items", "Home")</li>
                    @{ if (Session["Role"] is null)
                        {
                            <li id="login">@Html.ActionLink("Prisijungti", "Index", "User")</li>
                            <li id="register">@Html.ActionLink("Registruotis", "Register", "User")</li>
                        }
                        else if (Session["Role"].ToString() == "registruotas naudotojas" || Session["Role"].ToString() == "administratorius")
                        {

                            <li id="login">@Html.ActionLink("Atsijungti", "LogOut", "User")</li>
                            <li id="User"> prisijungę kaip: @Session["Name"].ToString() </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kompiuterija</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
