@using komp.Models.tipai
@model komp.Models.Cart
@{
    ViewBag.Title = "basker";
}
<style>
    .products {
        color: black;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        word-break:break-all;
    }

    .header {
        color: black;
    }

    .hr {
        width: 100%;
        background-color: black;
        height: 5px;
        margin-right: auto;
        color: black;
    }

    .line {
        width: 50%;
        height: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .childline1 {
        display: inline-block;
        width: 50%;
        height: 10%;
        word-wrap:break-word;
        white-space: normal;
    }

    .childline2 {
        display: inline-block;
        width: 25%;
        height: 25%;
        padding-left:10px;
    }

    .childline3 {
        display: inline-block;
        width: 10%;
        height: 25%;
    }

    .img {
        position: relative;
        text-align: center;
        display: inline-block;
        width: 10%;
        height: 10%;
    }

    .centered {
        color: red;
        position: relative;
        transform: translate(-9%, 100%);
    }

    .divimg {
        position: relative;
        max-height: 50%;
        min-height: 50%;
        overflow: hidden;
    }
</style>

<div class="jumbotron">

    <ul class="products">
        @{ float suma = 0; }
        @if (Model.prekes.Count != 0)
        {
            <h1>Krepšelis</h1>
            <hr class="hr" />
            foreach (var item in Model.prekes)
            {
                <li style="display:block; padding:10px; word-wrap:break-word;">

                    @if ((Session["Role"] is null))
                    {
                        <img class="img" src="~/Assets/images/Items/@item.path">
                    }
                    else if (Session["Role"].Equals(Role.User))
                    {
                        <img src="~/Assets/images/Items/@item.path">
                    }
                    else if (Session["Role"].Equals(Role.Admin))
                    {
                        if (item.matomas)
                        {
                            <img class="img" src="~/Assets/images/Items/@item.path">
                        }
                        else
                        {
                            <img class="img" align="left" style="filter: grayscale(100%)" src="~/Assets/images/Items/@item.path">
                            <div class="centered">Nematoma</div>
                        }
                    }
                    <h4 class="childline1">@item.pavadinimas</h4>
                    <p class="childline2">@item.kaina $</p>
                    <input class="childline3" type="button" value="Peržiūra &raquo;" onclick="location.href = '@Url.Action("Item", "Item", new RouteValueDictionary(new {id = item.id}))'" />
                    <p></p>
                    @{ suma = suma + item.kaina; }

                </li>
            }
            <div>
                <hr class="hr" />
                <h4 class="header">Suma: @suma</h4>

                <input type="button" value="Pirkti &raquo;" onclick="location.href = '@Url.Action("Buy", "Cart")'" />

            </div>
        }
        else
        {
            <h1>Tuščias krepšelis</h1>
        }
    </ul>

</div>
