@using komp.Controllers
@using komp.Models.tipai
@using Microsoft.Ajax.Utilities
@model IEnumerable<komp.Models.Item>

<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    ul.products li {
        width: 20%;
        height: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .mygtukas {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 200%
    }

    .container {
        position: relative;
        text-align: center;
    }

    .buttons {
        position: absolute;
        top: 10%
    }
</style>
@if ((Session["Role"] is null))
{

}
else if (Session["Role"].Equals(Role.Admin))
{
    <input type="button" value="Registruoti prekę &raquo;" onclick="location.href = '@Url.Action("NewItem", "Item")'" />
}

<div class="jumbotron">

    <ul class="products">
        @foreach (var item in Model)
        {
        <li>

            <div class="container">
                @if ((Session["Role"] is null))
                {
                    <img src="~/Assets/images/Items/@item.path">
                }
                else if (Session["Role"].Equals(Role.User))
                {
                    <img src="~/Assets/images/Items/@item.path">
                }
                else if (Session["Role"].Equals(Role.Admin))
                {
                    if (item.matomas)
                    {
                        <img src="~/Assets/images/Items/@item.path">
                    }
                    else
                    {
                        <img style="filter: grayscale(100%)" src="~/Assets/images/Items/@item.path">
                        <div class="centered">Nematoma</div>
                    }
                }

            </div>

            <h4>@item.pavadinimas</h4>
            <p>@item.kaina $</p>

            @if ((Session["Role"] is null))
            {

            }
            else if (Session["Role"].Equals(Role.Admin))
            {
                <p>matomumas: @item.matomas</p>
                <input type="button" value="Keisti matomumą &raquo;" onclick="location.href = '@Url.Action("DisableItem", "Item", new RouteValueDictionary(new {id = item.id, visible = item.matomas}))'" />
            }

            <input type="button" value="Peržiūra &raquo;" onclick="location.href = '@Url.Action("Item", "Item", new RouteValueDictionary(new {id = item.id}))'" />
            <input type="button" value="Į Krepšelį &raquo;" onclick="location.href = '@Url.Action("ToBasket", "Item", item)'" />


        </li>
        }
    </ul>

</div>