@using komp.Models
@using komp.Models.tipai
@model komp.Models.Item


<style>
    tr:nth-child(even) {
        background: #CCC
    }

    tr:nth-child(odd) {
        background: #FFF
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #divspec {
        border-style: inset;
    }

    #num {
        color: #0a74ca;
        font-size: 24px;
        font-weight: bold;
        position: center;
        right: 20%
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;
        font-size: 200%;
    }

    .container {
        position: relative;
        text-align: center;
    }
</style>
<div class="content">
    @if ((Session["Role"] is null))
    {

    }
    else if (Session["Role"].Equals(Role.Admin))
    {
        <input type="button" value="Redaguoti prekę &raquo;" onclick="location.href = '@Url.Action("EditItemIndex", "Item", @Model)'" />
    }
    @{
        <div id="divspec">
            <div class="container">
                @if ((Session["Role"] is null))
                {
                    <img src="~/Assets/images/Items/@Model.path">
                }
                else if (Session["Role"].Equals(Role.User))
                {
                    <img src="~/Assets/images/Items/@Model.path">
                }
                else if (Session["Role"].Equals(Role.Admin))
                {
                    if (Model.matomas)
                    {
                        <img src="~/Assets/images/Items/@Model.path">
                    }
                    else
                    {
                        <img style="filter: grayscale(100%)" src="~/Assets/images/Items/@Model.path">
                        <div class="centered">Nematoma</div>
                    }
                }

            </div>

            <div id="num"><p>@Model.kaina €</p></div>
            <input style="background-color: greenyellow" type="button" value="Į Krepšelį &raquo;" onclick="location.href = '@Url.Action("ToCart", "Item", Model)'" />

        </div>
    }

    <div id="divspec">
        <div>
            <ul>
                <li> @Model.aprasymas</li>
            </ul>
        </div>
    </div>

    @if (!(Session["Role"] is null))
    {


        if (Session["Role"].Equals(Role.Admin))
        {
            <p>matomumas: @Model.matomas</p>
            <input type="button" value="Keisti matomumą &raquo;" onclick="location.href = '@Url.Action("DisableItem", "Item", Model)'" />
            Html.RenderPartial("~/Views/Comment/NewComment.cshtml", new Comment(), new ViewDataDictionary { { "itemId", Model.id }, { "userId", ((User)Session["User"]).id }, { "comment", new Comment() } });
        }
        else if (Session["Role"].Equals(Role.User))
        {
            Html.RenderPartial("~/Views/Comment/NewComment.cshtml", new Comment(), new ViewDataDictionary { { "itemId", Model.id }, { "userId", ((User)Session["User"]).id }, { "comment", new Comment() } });
        }
    }
    @Html.Action("Index", "Comment", new { itemId = Model.id });
</div>

